<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peter.mapper.ArticleUrlMapper">
  <resultMap id="BaseResultMap" type="com.peter.bean.ArticleUrl">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="keyword" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, url, keyword
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article_url
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTotalRecord" resultType="int">
    select 
    count(1)
    from article_url
  </select>
  <select id="truncateTable" resultType="int">
    truncate article_url
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_url
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.peter.bean.ArticleUrl">
    insert into article_url (id, url, keyword
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.peter.bean.ArticleUrl">
    insert into article_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peter.bean.ArticleUrl">
    update article_url
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peter.bean.ArticleUrl">
    update article_url
    set url = #{url,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>